extends layout.pug 

block content
  h2 Where would you like to go?
  .btn-container
    a(href="/getData" class="button") Sum function (Assignment 2)
    a(href="/sum.html" class="button") API (Assignment 3)
    a(href="/myName" class="button") Cookie (Assignment 4)