extends layout.pug 

block content
  h2 Where would you like to go?
  .btn-container
    button 
      a(href="/getData") Sum function (Assignment 2)
    button 
      a(href="/sum.html") API (Assignment 3)
    button 
      a(href="/myName") Cookie (Assignment 4)