extends layout.pug 

block content
  include nav.pug
  h2 Hi! Nice to meet you.
    .input-container
      form(action='/trackName', method="get")
        label Please enter your name: 
        input(type="text", name="name")
        button(type="submit") Submit